{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Bosh sahifa - Xalqaro Innovatsion Universitet{% endblock %}

{% block content %}

<!-- 1. Banner -->
<div class="banner v__2">
    <div class="banner__wrapper">
        {% if banner_settings and banner_settings.show_video and banner_video %}
            {# VIDEO BANNER #}
            <div class="banner__video--wrapper banner__wrapper--bg">
                <video autoplay muted loop playsinline class="video-background" {% if banner_video.poster_image %}poster="{{ banner_video.poster_image.url }}"{% endif %}>
                    <source src="{{ banner_video.video_file.url }}" type="video/mp4">
                </video>
                <div class="video-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner__slides--container banner__height">
                                <div class="banner__slides--content">
                                    {% if banner_video.subtitle %}
                                    <div class="banner__slides--content--sub">
                                        <img src="{% static 'assets/images/icon/e-cap.svg' %}" alt="cap">
                                        {{ banner_video.subtitle }}
                                    </div>
                                    {% endif %}

                                    {% if banner_video.title %}
                                    <h1 class="banner__slides--content--title">
                                        {{ banner_video.title|safe }}
                                    </h1>
                                    {% endif %}

                                    {% if banner_video.button_text and banner_video.button_link %}
                                    <a href="{{ banner_video.button_link }}" class="rts-theme-btn btn-arrow">
                                        {{ banner_video.button_text }}
                                        <span><i class="fa-regular fa-arrow-right"></i></span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {# SLIDER BANNER #}
            {% if banner_sliders %}
            <div class="swiper swiper-data" data-swiper='{
                "slidesPerView":1,
                "effect": "fade",
                "loop": true,
                "speed": 1000,
                "autoplay":{"delay":"7000"}
            }'>
                <div class="swiper-wrapper">
                    {% for slider in banner_sliders %}
                    <div class="swiper-slide">
                        <div class="banner__wrapper--bg" style="background-image: url({% if slider.image %}{{ slider.image.url }}{% else %}{% static 'assets/images/banner/01.jpg' %}{% endif %});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="banner__slides--container banner__height">
                                            <div class="banner__slides--content">
                                                {% if slider.subtitle %}
                                                <div class="banner__slides--content--sub">
                                                    <img src="{% static 'assets/images/icon/e-cap.svg' %}" alt="cap">
                                                    {{ slider.subtitle }}
                                                </div>
                                                {% endif %}

                                                {% if slider.title %}
                                                <h1 class="banner__slides--content--title">
                                                    {{ slider.title|linebreaks }}
                                                </h1>
                                                {% endif %}

                                                {% if slider.button_text and slider.button_link %}
                                                <a href="{{ slider.button_link }}" class="rts-theme-btn btn-arrow">
                                                    {{ slider.button_text }}
                                                    <span><i class="fa-regular fa-arrow-right"></i></span>
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            {# DEFAULT SLIDER #}
            <div class="swiper swiper-data" data-swiper='{
                "slidesPerView":1,
                "effect": "fade",
                "loop": true,
                "speed": 1000,
                "autoplay":{"delay":"7000"}
            }'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner__wrapper--bg" style="background-image: url({% static 'assets/images/banner/01.jpg' %});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="banner__slides--container banner__height">
                                            <div class="banner__slides--content">
                                                <div class="banner__slides--content--sub">
                                                    <img src="{% static 'assets/images/icon/e-cap.svg' %}" alt="cap">
                                                    Bilim va innovatsiya uyg'unligi
                                                </div>
                                                <h1 class="banner__slides--content--title">
                                                    Salohiyatni ochish<br>
                                                    Mukammallikni rivojlantirish
                                                </h1>
                                                <a href="#" class="rts-theme-btn btn-arrow">Dasturlarimiz
                                                    <span><i class="fa-regular fa-arrow-right"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}

        {% if banner_navigations %}
        <div class="banner__slides--navigation">
            {% for nav in banner_navigations %}
            <div class="banner__slides--navigation--single">
                <h5 class="nav__title">{{ nav.title }}</h5>
                <a href="{{ nav.get_link }}" class="nav__description">{{ nav.description }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<!-- 2. Universitet haqida -->
{% if about_section %}
<section class="about v__2 pt--120 pb--80">
    <div class="container">
        <div class="row justify-content-md-center g-5">
            <div class="col-lg-6 col-md-9">
                <div class="about__left--content">
                    <div class="about__left--content--left">
                        {% if about_section.left_image_1 %}
                            <img src="{{ about_section.left_image_1.url }}" alt="">
                        {% else %}
                            <img src="{% static 'assets/images/about/about__h2-1.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="about__left--content--center">
                        <div class="rts__circle v__1">
                            <svg class="spinner" viewBox="0 0 100 100">
                                <defs>
                                    <path id="circle" d="M50,50 m-37,0a37,37 0 1,1 74,0a37,37 0 1,1 -74,0"></path>
                                </defs>
                                <text>
                                    <textPath xlink:href="#circle">{{ about_section.circle_text|default:"Xalqaro Innovatsion Universitet * 2024 * Kelajakni kashf eting *" }}</textPath>
                                </text>
                            </svg>
                            <div class="rts__circle--icon">
                                <i class="fa-light fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="about__left--content--right">
                        {% if about_section.left_image_2 %}
                            <img src="{{ about_section.left_image_2.url }}" alt="">
                        {% else %}
                            <img src="{% static 'assets/images/about/about__h2-2.png' %}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-9">
                <div class="about__right--content">
                    {% if about_section.subtitle %}
                    <div class="about__right--content--sub">
                        <img src="{% static 'assets/images/icon/e-cap-pix.svg' %}" alt="cap">
                        {{ about_section.subtitle }}
                    </div>
                    {% endif %}

                    {% if about_section.title %}
                    <h2 class="about__right--content--title">{{ about_section.title }}</h2>
                    {% endif %}

                    {% if about_section.description %}
                    <p class="about__right--content--description">{{ about_section.description }}</p>
                    {% endif %}

                    {% if about_section.description_2 %}
                    <p class="about__right--content--description">{{ about_section.description_2 }}</p>
                    {% endif %}

                    <div class="about__right--content--vision">
                        <div class="mision">
                            <div class="mision__icon">
                                {% if about_section.mission_icon %}
                                    <img src="{{ about_section.mission_icon.url }}" alt="">
                                {% else %}
                                    <img src="{% static 'assets/images/icon/mission.svg' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="mision__title">{{ about_section.mission_title|default:"Universitet Missiyasi" }}</div>
                        </div>
                        <div class="vision">
                            <div class="vision__icon">
                                {% if about_section.vision_icon %}
                                    <img src="{{ about_section.vision_icon.url }}" alt="">
                                {% else %}
                                    <img src="{% static 'assets/images/icon/vission.svg' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="vision__title">{{ about_section.vision_title|default:"Universitet Viziyasi" }}</div>
                        </div>
                    </div>

                    {% if about_section.button_text and about_section.button_link %}
                    <a href="{{ about_section.button_link }}" class="rts-theme-btn btn-arrow">{{ about_section.button_text }}
                        <span><i class="fa-regular fa-arrow-right"></i></span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- 3. Statistika -->
{% if statistic_items %}
<div class="rts-funfact v__2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="rts-funfact-wrapper">
                    {% for item in statistic_items %}
                    <div class="single-cta-item">
                        {% if item.icon %}
                            <i class="{{ item.icon }}"></i>
                        {% endif %}
                        <h2 class="single-cta-item__title">{{ item.title }}</h2>
                        <p>{{ item.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- 4. Yangiliklar -->
{% if news_static %}
<div class="rts-blog v_1 rts-section-padding">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-11 col-lg-12">
                <div class="rts-section rts-border-bottom-1 mb--50 pb--20">
                    <h2 class="rts-section-title text-uppercase">
                        {{ news_static.title }}
                    </h2>
                    {% if news_static.description %}
                    <p class="rts-section-description">{{ news_static.description }}</p>
                    {% endif %}
                    <a href="{{ news_static.button_link }}" class="rts-nbg-btn btn-arrow">
                        {{ news_static.button_text }}
                        <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- blog content - hozircha statik -->
        <div class="row g-5 justify-content-md-center">
            <div class="col-md-11 col-lg-6">
                <div class="rts-blog-post blog-v-full">
                    <div class="single-blog-post">
                        <a href="#" class="blog-thumb">
                            <img src="{% static 'assets/images/blog/big-thumb-1.jpg' %}" alt="blog-thumb">
                        </a>
                        <div class="blog-content">
                            <div class="post-meta">
                                <div class="rt-author">
                                    <span><i class="fa-light fa-user"></i></span>
                                    <a href="#">Masum Sakib</a>
                                </div>
                                <div class="rt-date">
                                    <span><i class="fal fa-calendar"></i></span>
                                    <span>28 Noyabr, 2023</span>
                                </div>
                            </div>
                            <a href="#" class="post-title">
                                Sinf jamoasini shakllantirish — yangi narsalarni sinab ko'rish mumkin!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-lg-6">
                <div class="rts-blog-post">
                    <!-- single blog -->
                    <div class="single-blog-post">
                        <div class="blog-thumb">
                            <a href="#">
                                <img src="{% static 'assets/images/blog/small-thumb-1.jpg' %}" alt="post-thumbnail">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="post-meta">
                                <div class="rt-author">
                                    <span><i class="fa-light fa-user"></i></span>
                                    <a href="#">Samira Xon</a>
                                </div>
                                <div class="rt-date">
                                    <span><i class="fal fa-calendar"></i></span>
                                    <span>28 Noyabr, 2023</span>
                                </div>
                            </div>
                            <a href="#" class="post-title">
                                Oilalar ichidagi tengsizliklar va ularning ta'lim tizimiga ta'siri
                            </a>
                        </div>
                    </div>
                    <!-- single blog -->
                    <div class="single-blog-post">
                        <div class="blog-thumb">
                            <a href="#">
                                <img src="{% static 'assets/images/blog/small-thumb-2.jpg' %}" alt="post-thumbnail">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="post-meta">
                                <div class="rt-author">
                                    <span><i class="fa-light fa-user"></i></span>
                                    <a href="#">Zent Ekizie</a>
                                </div>
                                <div class="rt-date">
                                    <span><i class="fal fa-calendar"></i></span>
                                    <span>28 Noyabr, 2023</span>
                                </div>
                            </div>
                            <a href="#" class="post-title">
                                Ta'lim sohasidagi zamonaviy yondashuvlar va innovatsiyalar
                            </a>
                        </div>
                    </div>
                    <!-- single blog -->
                    <div class="single-blog-post">
                        <div class="blog-thumb">
                            <a href="#">
                                <img src="{% static 'assets/images/blog/small-thumb-3.jpg' %}" alt="post-thumbnail">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="post-meta">
                                <div class="rt-author">
                                    <span><i class="fa-light fa-user"></i></span>
                                    <a href="#">Zayed Xon</a>
                                </div>
                                <div class="rt-date">
                                    <span><i class="fal fa-calendar"></i></span>
                                    <span>28 Noyabr, 2023</span>
                                </div>
                            </div>
                            <a href="#" class="post-title">
                                O'nlab yillik taraqqiyotdan so'ng, yurak-qon tomir salomatligi ko'rsatkichlari
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- 5. Hamkorlar -->
{% if partners %}
<div class="rts-brand v_1 pb--85">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-11">
                <div class="rts-brand-slider swiper swiper-data" data-swiper='{
                    "slidesPerView":6,
                    "loop": true,
                    "autoplay":{"delay":"3000"},
                    "breakpoints":{
                        "320":{"slidesPerView": 3, "centeredSlides": true},
                        "575":{"slidesPerView": 4, "centeredSlides": true},
                        "768":{"slidesPerView": 5, "centeredSlides": true},
                        "991":{"slidesPerView": 6, "centeredSlides": true},
                        "1201":{"slidesPerView": 6}
                    }
                }'>
                    <div class="swiper-wrapper">
                        {% for partner in partners %}
                        <div class="swiper-slide">
                            <div class="single-brand-logo">
                                <a href="{{ partner.link|default:'#' }}">
                                    <img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if license_static %}
<section class="rts__section rts__light rts-section-padding">
    <div class="container">
        <div class="row">
            <div class="rts__section--wrapper">
                <h2 class="rts__section--title">{{ license_static.title }}</h2>
                <div class="rts__section--link">
                    <a href="{{ license_static.button_link }}" class="rts-nbg-btn btn-arrow">{{ license_static.button_text }}
                        <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row g-5">
            {% for item in license_items %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="rts__program--item" style="background-image: url({{ item.background_image.url }});">
                    <h5 class="rts__program--item--title">{{ item.title }}</h5>
                    <p class="rts__program--item--description">{{ item.description }}</p>
                    <a href="{{ item.button_link }}" class="rts-nbg-btn btn-arrow">{{ item.button_text }}
                        <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<!-- 7. Ta'lim dasturlari -->
{% if program_static %}
<section class="program rts-section-padding">
    <div class="container">
        <div class="row rt-center">
            <div class="col-sm-12">
                <div class="rts__section--wrapper v__5">
                    <h2 class="rts__section--title">{{ program_static.title }}</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center g-0">
            {% for level in education_levels %}
            <div class="col-lg-4 col-md-10">
                <div class="program__single--item {{ level.style_class }}">
                    <div class="program__single--item--bg">
                        <img src="{{ level.background_image.url }}" alt="{{ level.name }}">
                    </div>
                    <h5 class="program__single--item--title">{{ level.name }}</h5>
                    <ul class="program__single--item--list">
                        {% for program in level.programs.all|slice:":4" %}
                        <li class="program__single--item--list--item">
                            <a href="{{ program.get_link }}" class="link__list">{{ program.name }}
                                <span><i class="fa-regular fa-arrow-right"></i></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}


<!-- 8. Talabalar hayoti -->
{% if student_life_static %}
<section class="campus rts__primary__bg-2 rts-section-padding">
    <div class="container">
        <div class="row">
            <div class="rts__section--wrapper v__6">
                <p class="rts__section--wrapper--description">
                    {{ student_life_static.description }}
                </p>
                <h2 class="rts__section--wrapper--title">
                    {{ student_life_static.title }} <span>{{ student_life_static.title_highlight }}</span>
                </h2>
            </div>
        </div>
        <div class="row g-5">
            {% for item in student_life_items %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="campus__single--item">
                    <a href="{{ item.link }}">
                        <div class="campus__single--item--thumb">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" alt="{{ item.image_alt }}">
                            {% endif %}
                        </div>
                    </a>
                    <h5 class="campus__single--item--title">
                        <a href="{{ item.link }}">{{ item.title }} <span><i class="fa-light fa-arrow-right"></i></span></a>
                    </h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="rts__shape">
        <img src="{% static 'assets/images/icon/note_khata.svg' %}" class="rts__shape--1" alt="">
        <img src="{% static 'assets/images/icon/book.svg' %}" class="rts__shape--2" alt="">
        <img src="{% static 'assets/images/icon/compas_scale.svg' %}" class="rts__shape--3" alt="">
    </div>
</section>
{% endif %}

<!-- 9. Yo'nalishlar -->
{% if direction_static %}
<section class="rts-faculty rts-section-padding">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-11 mb--60 border-bottom pb-5">
                <div class="rts-section">
                    <h3 class="rts-section-title">{{ direction_static.title }}</h3>
                </div>
            </div>
        </div>
        <div class="row g-5">
            {% for program in programs_list %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-cat-item">
                    <div class="cat-thumb">
                        {% if program.image %}
                            <img src="{{ program.image.url }}" alt="{{ program.image_alt }}">
                        {% endif %}
                    </div>
                    <div class="cat-meta">
                        <div class="cat-title">
                            <a href="{{ program.get_link }}">{{ program.name }}</a>
                        </div>
                        <div class="cat-count">
                            {{ program.education_level.name }}
                        </div>
                        <div class="cat-link">
                            <a href="{{ program.get_link }}" class="cat-link-arrow"><i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="rts-load-more-btn rt-center mt--60">
            <a href="{{ direction_static.button_link }}" class="rts-theme-btn primary lh-100">{{ direction_static.button_text }}</a>
        </div>
    </div>
</section>
{% endif %}

<!-- 10. Tadbirlar -->
{% if event_static %}
<section class="rts-notice rts-section-padding rts__light">
    <div class="container">
        <div class="row">
            <div class="rts__section--wrapper v__8">
                <h2 class="rts__section--title">{{ event_static.title }}</h2>
                <div class="rts__section--link">
                    <a href="{{ event_static.button_link }}" class="rts-nbg-btn btn-arrow">{{ event_static.button_text }}
                        <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row g-0 justify-content-md-center">
            <div class="col-md-11 col-lg-7">
                <div class="rts-event-section">
                    <div class="rts-event-section-content">
                        <ul class="list-unstyled rts-counter">
                            {% for event in upcoming_events %}
                            <li class="single-event">
                                <div class="single-event-counter">
                                    <div class="count-number rt-clip-text"></div>
                                </div>
                                <div class="single-event-content">
                                    <h5 class="event-title">{{ event.title }}</h5>
                                    <div class="single-event-content-meta">
                                        <div class="event-date">
                                            <span><i class="fal fa-calendar"></i></span>
                                            <span>{{ event.event_date|date:"d E, Y" }}</span>
                                        </div>
                                        {% if event.event_time %}
                                        <div class="event-time">
                                            <span><i class="fa-sharp fa-thin fa-clock"></i></span>
                                            <span>{{ event.event_time|time:"H:i" }}</span>
                                        </div>
                                        {% endif %}
                                        {% if event.venue_address %}
                                        <div class="event-place">
                                            <span><i class="fa-sharp fa-thin fa-location-dot"></i></span>
                                            <span>{{ event.venue_address }}</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-lg-5">
                <div class="event__background">
                    {% if event_static.side_image %}
                        <img src="{{ event_static.side_image.url }}" alt="">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- 11. Rektorat va Rahbariyat -->
<section class="rts__section rts-section-padding">
    <div class="container">
        <div class="row">
            <div class="rts__section--wrapper">
                <h2 class="rts__section--title">Universitet Rahbariyati</h2>
                <div class="rts__section--link">
                    <a href="#" class="rts-nbg-btn btn-arrow">Batafsil
                        <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Rahbariyat a'zolari -->
        <div class="row g-5">
            <!-- Rektor -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="rts__single--member">
                    <div class="rts__single--member--thumb">
                        <a href="#">
                            <img src="{% static 'assets/images/speaker/teacher__1.jpg' %}" alt="Rektor">
                        </a>
                    </div>
                    <div class="rts__single--member--meta">
                        <h5 class="rts__single--member--meta--title">
                            <a href="#">Prof. Aziz Alimov</a>
                        </h5>
                        <span class="rts__single--member--meta--designation">
                            Rektor
                        </span>
                    </div>
                </div>
            </div>
            <!-- Rektor o'rinbosari -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="rts__single--member">
                    <div class="rts__single--member--thumb">
                        <a href="#">
                            <img src="{% static 'assets/images/speaker/teacher__2.jpg' %}" alt="Rektor o'rinbosari">
                        </a>
                    </div>
                    <div class="rts__single--member--meta">
                        <h5 class="rts__single--member--meta--title">
                            <a href="#">Prof. Nodira Rahimova</a>
                        </h5>
                        <span class="rts__single--member--meta--designation">
                            Rektor o'rinbosari (Ta'lim ishlari bo'yicha)
                        </span>
                    </div>
                </div>
            </div>
            <!-- Rektor o'rinbosari -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="rts__single--member">
                    <div class="rts__single--member--thumb">
                        <a href="#">
                            <img src="{% static 'assets/images/speaker/teacher__3.jpg' %}" alt="Rektor o'rinbosari">
                        </a>
                    </div>
                    <div class="rts__single--member--meta">
                        <h5 class="rts__single--member--meta--title">
                            <a href="#">Prof. Bobur Karimov</a>
                        </h5>
                        <span class="rts__single--member--meta--designation">
                            Rektor o'rinbosari (Ilmiy ish va innovatsiyalar bo'yicha)
                        </span>
                    </div>
                </div>
            </div>
            <!-- Rektor o'rinbosari -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="rts__single--member">
                    <div class="rts__single--member--thumb">
                        <a href="#">
                            <img src="{% static 'assets/images/speaker/teacher__4.jpg' %}" alt="Rektor o'rinbosari">
                        </a>
                    </div>
                    <div class="rts__single--member--meta">
                        <h5 class="rts__single--member--meta--title">
                            <a href="#">Dotsent Shohruh Tursunov</a>
                        </h5>
                        <span class="rts__single--member--meta--designation">
                            Rektor o'rinbosari (Moliya va ma'muriy ishlar bo'yicha)
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Rahbariyat a'zolari end -->
    </div>
</section>
<!-- Rektorat va Rahbariyat end -->

<!-- 12. Qabul -->
<div class="rts-newsletter v_1 rts-cta-background rts__white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="rts-newsletter-box" style="background-image: url({% static 'assets/images/newsletter/bg-1.jpg' %});">
                    <div class="rts-newsletter-box-content">
                        <h4 class="newsletter-title">2024-2025 o'quv yili uchun qabul boshlandi
                        </h4>
                        <p class="newsletter-description" style="color: #fff; margin-bottom: 20px;">
                            Xalqaro Innovatsion Universitetida o'qishni xohlaysizmi? Hoziroq ariza topshiring!
                        </p>
                        <div class="newsletter-form w-530">
                            <a href="#" class="rts-theme-btn btn-arrow" style="display: inline-block;">
                                Ariza topshirish 
                                <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                            </a>
                            <a href="#" class="rts-nbg-btn btn-arrow" style="display: inline-block; margin-left: 15px;">
                                Batafsil ma'lumot
                                <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Qabul end -->

 <!-- 13. Grantlar -->
<section class="rts-scholarship rts-scholarship-bg rts-section-height">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="rts-scholarship-info">
                    <h2 class="rts-section-title">Grantlar va Moliyaviy yordam</h2>
                    <p class="w-740 mb--50">Har semestr universitetimiz akademik jihatdan iqtidorli talabalarni turli grantlar bilan taqdirlaydi. Yiliga 100 milliondan ortiq so'm miqdorida grant ajratiladi.</p>
                    <a href="#" class="rts-theme-btn btn-arrow">Batafsil<span><i class="fa-thin fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 14. Fotogalereya -->
<div class="rts-campus-section rts-section-padding">
    <div class="container">
        <div class="row">
            <div class="rts-section rt-center mb--45">
                <h3 class="rts-section-title">Fotogalereya</h3>
                <p class="rts-section-description">Universitet hayotidan lavhalar</p>
            </div>
        </div>
        <div class="row g-5">
            <!-- single item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-item">
                    <div class="single-item__content">
                        <div class="single-item__image">
                            <img src="{% static 'assets/images/campus/01.jpg' %}" alt="O'quv jarayoni">
                        </div>
                        <div class="single-item__meta">
                            <h5 class="item-title"><a href="#">O'quv jarayoni</a></h5>
                            <p class="item-description">Zamonaviy auditoriyalar va laboratoriyalarda o'quv jarayoni. Talabalar professional professor-o'qituvchilar bilan birgalikda bilim olmoqdalar.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single item end -->
            <!-- single item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-item">
                    <div class="single-item__content">
                        <div class="single-item__image">
                            <img src="{% static 'assets/images/campus/02.jpg' %}" alt="Talabalar turar joyi">
                        </div>
                        <div class="single-item__meta">
                            <h5 class="item-title"><a href="#">Talabalar turar joyi</a></h5>
                            <p class="item-description">Zamonaviy va qulay talabalar turar joylari. Barcha qulayliklar bilan ta'minlangan xonalar va dam olish zonalari mavjud.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single item end -->
            <!-- single item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-item">
                    <div class="single-item__content">
                        <div class="single-item__image">
                            <img src="{% static 'assets/images/campus/03.jpg' %}" alt="Madaniy tadbirlar">
                        </div>
                        <div class="single-item__meta">
                            <h5 class="item-title"><a href="#">Madaniy tadbirlar</a></h5>
                            <p class="item-description">Universitet talabalarining boy madaniy hayoti. Turli milliy bayramlar, festivallar va ijodiy tadbirlar muntazam tashkil etiladi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single item end -->
            <!-- single item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-item">
                    <div class="single-item__content">
                        <div class="single-item__image">
                            <img src="{% static 'assets/images/campus/01.jpg' %}" alt="Sport tadbirlari">
                        </div>
                        <div class="single-item__meta">
                            <h5 class="item-title"><a href="#">Sport tadbirlari</a></h5>
                            <p class="item-description">Universitetda turli sport turlari bo'yicha musobaqalar va mashg'ulotlar. Talabalar sog'lom turmush tarzini targ'ib qilishadi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single item end -->
            <!-- single item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-item">
                    <div class="single-item__content">
                        <div class="single-item__image">
                            <img src="{% static 'assets/images/campus/02.jpg' %}" alt="Ilmiy konferensiyalar">
                        </div>
                        <div class="single-item__meta">
                            <h5 class="item-title"><a href="#">Ilmiy konferensiyalar</a></h5>
                            <p class="item-description">Xalqaro va mahalliy ilmiy konferensiyalar muntazam ravishda o'tkaziladi. Talabalar o'z tadqiqot ishlarini taqdimot qilish imkoniyatiga ega.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single item end -->
            <!-- single item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-item">
                    <div class="single-item__content">
                        <div class="single-item__image">
                            <img src="{% static 'assets/images/campus/03.jpg' %}" alt="Bitiruvchilar kechasi">
                        </div>
                        <div class="single-item__meta">
                            <h5 class="item-title"><a href="#">Bitiruvchilar kechasi</a></h5>
                            <p class="item-description">Har yili bitiruvchilar uchun tantanali kecha tashkil etiladi. Bu - talabalarning eng unutilmas kunlaridan biri hisoblanadi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single item end -->
        </div>
        <div class="rts-load-more-btn rt-center mt--60">
            <a href="#" class="rts-theme-btn primary lh-100">Barchasini ko'rish</a>
        </div>
    </div>
</div>
<!-- Fotogalereya end -->
{% endblock %}